<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:fishingProgramProp"/>

    <bean id="myLogger" class="springxml.services.logClass">
    </bean>
    <bean id="Fish_Species" class="springxml.beans.Fish_Species">
        <constructor-arg ref="myLogger"/>
        <!-- Setter injection -->
        <property name="log" ref="myLogger"/>

        <!-- Inject literal values from properties file -->
        <property name="speciesName" value="${fish1.speciesName} "/>
        <property name="summary" value="${fish1.Summary}"/>
    </bean>

    <bean id="Fish_Spot" class="springxml.beans.Fishing_Spot">
        <constructor-arg ref="myLogger"/>
        <!-- Setter injection -->
        <property name="log" ref="myLogger"/>

        <!-- Inject literal values from properties file -->
        <property name="Species" value="${fish2.Species} "/>
        <property name="Name" value="${fish2.Name}"/>
        <property name="Type" value="${fish2.Type} "/>
        <property name="Summary" value="${fish2.Summary}"/>
    </bean>

</beans>